/*XO game mobile*/
/*.loader {background: url('/images/partnerLoader.gif') 50% 50% no-repeat rgba(0,0,0, 0.9);}*/
/*.stream, .hideStreamMob {display:none !important;}*/
body {background-color:#1a1a1a;}

/*btn*/
.btn_orange {background-color:#fac539; color:#000;}
.btn_grey {background-color:#333; color:#8c8c8c;}
/*header*/
.main_menu {background-color:#000; margin-bottom:1px;}
.main_menu_item {background-color:#686868; color:#fff; border-color:#333; text-transform: uppercase;}
.main_menu_item.menu_active {background-color:#f98b12; color:#000; border-color:#fac539;}

/*slider*/
.sport_header_line {background-color:#333;}
.prematch_sport .sport_count {background-color:#333; color:#999;}
.sliderBg {background-color:#1a1a1a;}
.home_prematch_sports i, .events_page_sports i {color:#fff;}
.prematch_sport .sport_name {color:#fff;}
.events_page_sports .active i  {color:#f98b12;}

/*live betting*/
.mainBtn {background-color:#283d40; border-color:#223f3d; color:#fff;}
.mainBtn > a {color:#fff;}
#home_live_sports .sport_name {color:#fff;}
.sectionBg {background-color:#1f1f1f;}

.oneGameClr {background-color:#333;}
.gm h1 {color:#dadada;}
.gm h2 {color:#ccc;}
.gm .score h3 {color:#999;}
.gm .score h4 {color:#f98b12;}

.odds_count {background-color:#1f1f1f; border:1px solid #101010; color:#fff;}
.odd_name, .odd_name_empty {background-color:#686868; border:0; color:#fff; border-bottom:2px solid #333;}

.oddsClr {background-color:#212121; color:#fff;}
.selectedOdd {background-color:#f98b12; color:#000;}

/*more*/
.button_container {background-color:#333;}
.button_container .same_button {background-color:#f88a11; color:#000;}
.one_footer a {color: #fff !important;background: #00a2af !important;border-top: 1px solid #30b6bf;}
/*prematch*/
.mobPremStakeName {color:#fff;}
.headingMob {background-color:#1f1f1f; color:#f98b12;}
.event_details_item .stt {color:#696969;}
.description {background-color:#2b2b2b; color:#fff;}
.mobBACont:before {background-color:#f98b12; color:#000;}

/*tabs*/
.live_tabs_header .selector_panel .tab_selector_active, .tab_cupon.tab_selected {background-color:#333; color:#f98b12;}
.live_tabs_header .selector_panel .tab_selector, .tab_cupon {background-color:#101010; color:#8c8c8c;}

/*live*/
.event_page_data_panel .champ_expense .expense {color:#f98b12;}
.liveMobtblHead {background-color:#333; color:#8c8c8c;}
.liveMobtblRow {background-color:#101010; color:#8c8c8c; border-color:#333;}
.event_page_data_panel .le_panel .odd_name {background-color:#1f1f1f !important; border:0; }
.event_page_data_panel .le_panel .st {color:#fff;}

/*coupon*/
.mobHeader {background-color:#1f1f1f; color:#fff;}
#BCClose, #coup_settings, #coup_close, #search_close {color:#fff;}
.coupon-content .caption .lbl .cnt {background-color:#fac539; color:#000;}
.cp_builder, .stake_info .is_cashout_icon {background-color:#000;}
.coupon-content .cp_builder .stakes_panel .stake_item {background-color:#333; color:#fff;}
.coupon-content .row, .coupon-content .row.commonCoeff, .coupon-content .row.aggOdd {background-color:#1f1f1f; color:#fff;}
.mobLiveStakeName {color:#fff;}

.coupon-content .cp_builder .cp_footer .row .cp_system_ddl, .coupon-content .cp_builder .cp_footer .row .amount.multiCurrency {background-color:#fff; border:1px solid #696969;}
.coupon-content .cp_builder .cp_footer .row .win_amount.multiCurrency, .coupon-content .cp_builder .cp_footer .chb_control {color:#fff;}

/*coupon settings panel*/
.coup_settings_panel {background-color:#333; color:#fff;}
#one_click_bet, .coup_settings_panel .favam .favBox div {background-color:#fff;}

/*keyboard*/
.customKeybord {background-color:#000; border:1px solid #333;}
.keybordNumber, .keybordActionButton {background-color:#e8e8e8; color:#333; border-radius:2px;}
.customKeybord .keybordDone {background-color:#ffd607; color:#333;}

/*bet history*/
#ma_sections_tab .tab_body_active {background-color:#000;}
.profile_caption {background-color:#1f1f1f; color:#fac539;}
#date_header, .ma_mb_date, .search_table .SearchDescStyle, .profile_user_history_item .hide_footer:after, .profile_user_history_item .history_item_row_footer .footer_btn:after {color:#fff;}
.dropDownControl select, .search_table .textbox {background-color:#fff;}

/*popups*/
.puHead {background-color:#333;}
.puBody {background-color:#2b2b2b;}

.txt_search {background-color:#fff; color:#000;}
#search_close {color:#000;}
#footer_coupon_div.btn_prim, #footer_bet_history.btn_prim{color: #fff !important; background: #00a2af !important;border-top: 1px solid #2cb2bb;}
.maBonusItem > div {color: white;} 
        .finished_event_wrapper {
            background-color: #1A1A1A;
            color: #fff;
        }
        .finished_event_header {
            background-color: #262626;
            color: #fff;
        }
        .finished_event_tournament_name {
            background-color: #333;
            color: #fff;
        }
        .finished_event_line, .bonus_heading_line {
            background-color: linear-gradient(to right, #0000 0%,#ffb700 50%,#0000 100%);
        }
        .finished_event_message {
            background-color: #262626;
            color: #fff;
        }
        .finished_event_score {
            color: #ffb700;
        }
    