/*CannonBet Mobile*/
/*.loader {
	    background: url('/images/loaders/cannonbet/Loader_CB.gif') 50% 50% no-repeat rgba(0,0,0, 0.9);
}*/

.oddsClr{
	background-color:#999;
	color:#424242 !Important;
}

.event_page_data_panel .champ_expense .expense {
	color:#fff;
}

.mainBtn {
	background-color:#444242;
	color:#cfcfcf;
	border:none;
}

.description {
	background-color:#e6e6e6;
}

.oneGameClr {
	background-color:#333;
}

.odds_count {
	background-color:#cfcfcf;
	color:#424242 !important;
}

.sliderBg {
	background-color:#0a0a0a;
}

.cp_successcp_success {
	color: #fff;
}

.sectionBg {
	background-color: #111;
}

.odd_name,
.odd_name_empty {
	background-color:#cfcfcf;
    border: none;
    color: #424242;
    border-bottom: 2px solid #333;
}

.event_page_data_panel .info_container,
.cachout_container .chb_control {
	background:transparent;
}

#home_live_header, #home_top_ten_header,
#multibet_live .live_item, 
#multibet_live .top_ten_item,
.event_page_data_panel .coefficient_container,
.co_accept,
.event_page_champ,
.event_details_item {
	border:none;
}

html,
.cp_builder,
.stake_info .is_cashout_icon{
	background-color:#2b2b2b;
}

#home_live_header .content, #home_top_ten_header .content,
.live_tabs_header .selector_panel {
	background-color:transparent;
}

#events_page_filter .active span {
	background-color:transparent !important;
}

.main_menu_item {
	background-color:#333333;
	color:#fff;
	border:none;
}

.main_menu_item.menu_active {
	background-color:#484848;
	color:#fff;
	border:none;
}

.main_menu,
.prematchBg,
.bg_live_liveitemcontainer,
#EventPage,
#EventPage .tab_body_active{
	background-color:#1a1a1a;
}

.event_details_item,
#multibet_live .live_item {
	background-color:#333;
}

.sport_header_line,
.sport_count,
#multibet_live .top_ten_item {
	background-color:#1a1a1a;
}

.prematch_sport .sport_count {
	color:#fff;
}

.events_page_sports .active i,
.events_page_sports .active .sport_count,
.events_page_sports .active .sport_name {
	color:#00e777;
}

.event_page_data_panel .row_name,
.event_page_data_panel .row_champ,
.event_page_data_panel .row_date,
.cp_blank,
.cp_success,
.event_page_data_panel .info_container {
	color:#fff;
}

.home_prematch_sports i,
.events_page_sports i,
.prematch_sport .sport_name,
.ui-icon-customDown:after {
	color:#e6e6e6;
}

.menu_active {
	color:#00e777;
}

.ui-collapsible-heading > a{
	color:#00e777;
}

.ui-collapsible-content,
#live_tabs_header .tab_body_active,
.live_tabs_header .selectorWrapper {
	background-color:#1a1a1a;
}

#live_tabs_header .tab_body_active {
	overflow:hidden;
}

.event_page_data_panel .coefficient_container {
	background-color:#333;
}

.match_name_container,
.mobPremSportName,
.event_page_header_champ,
#multibet_live .match_name_container .ev,
.gm h1,
.gm h2,
.gm .score h3{
	color:#e6e6e6;
}

.gm .score h4 {
	color:#f8b80e;
}

#page3-popup-msg-popup, 
#page1-popup-msg-popup, 
#page2-popup-msg-popup {
	background:#333;
}

.liveMobtblHead {
	background-color:#fff;
	color:#333;
}
.liveMobtblRow {
	background-color:#cfcfcf;
	color:#333;
}

.mobileChampLiveHeading {
	color:#333;
}

.event_page_data_panel .le_panel .odd_name {
	background-color: #cfcfcf !important;
    border: none;
    color: #424242;
    border-bottom: 2px solid #333;
}

.event_page_data_panel .le_panel .st {
	background-color:#999 !important;
}

.event_page_data_panel .le_panel .odd_factor {
    color: #424242;
}

.selectedOdd,
.selectedOdd .odd_factor {
	background-color:#00e777;
}

/*prematch*/
#events_page_filter .active span,
#events_page_filter .filter_item span {
	border:0;
}

.tab_cupon {
    background-color: #333;
}

.tab_cupon.tab_selected {
    background-color: #00e777;
	color:#333;
}

.headingMob {
	background-color:#e8e8e8;
	color:#424242;
}

.event_page_header_champ_country {
	background-color:#343434;
	color:#fff;
}

.event_details_item .st .odd_name {
	background-color:#cfcfcf;
	color:#424242;
	border:0;
	border-bottom:2px solid #333;
}

.mobPremStakeName,
.mobLiveStakeName {
	color:#fff;
}

.button_container .same_button {
	background-color:#00e777;
	color:#111;
}

.event_details_item .st {
	background-color:#999;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .ev_name,
.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .st_name,
.coupon-content .cp_builder .cp_footer .row,
.ma_mb_date,
.search_table .SearchDescStyle {
	color:#fff;
}

.live_tabs_header .selector_panel .tab_selector {
	background-color:#333;
	border:0;
}
	.live_tabs_header .selector_panel .tab_selector.tab_selector_active {
		background-color: #474747;
		color: #111;
		border: 0;
	}

.live_tabs_header .selector_panel .tab_selector span {
	color:#fff;
}

.mobHeader {
	background-color:#343434;
}

.coupon-content .caption .lbl,
.coupon-content .cp_builder .bet_type_selector .tab_cupon span,
.button_result,
.history_item_details_row_header a,
.co_accept {
	color:#fff;
}

.history_item_row.btn_cachout .row_left,
.history_item_row.btn_cachout .row_right,
.SearchContainerStyle ul li div,
.profile_caption {
	color:#000;
}

.coupon-content .cp_builder .stakes_panel .stake_item {
	background-color:#343434;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .factor {
	color:#52a203;
}

.btn_grey {
	background-color:#cfcfcf;
	color:#333;
}

.show_less > .btn_grey,
.show_more > .btn_grey{
	color:#333;
}

.btn_orange {
	background-color:#00e777;
	color:#333;
}


.customKeybord {
	background-color:#797979;
}

.customKeybord .btn_grey,
.profile_caption,
.co_accept {
	background-color:#cfcfcf;
}

.keybordDone,
.history_item_row.btn_cachout {
	background-color:#00e777;
}

.button_result,
.btn_search{
	background-color:#00e777;
	color:#000;
}

#page3-popup-msg-popup .ui-content h3:after, #page1-popup-msg-popup .ui-content h3:after, #page2-popup-msg-popup .ui-content h3:after {
	display:none;
}

/*.htoh  {
    display:none !important;
}*/

.no_express,
.cp_footer .chb_control {
	color:#fff;
}

.mobBACont:before {
	-moz-transform: rotate(0) !important;
	-webkit-transform: rotate(0) !important;
	transform: rotate(0) !important;
}

.player_panel .err {
    color: #fff;
}

.maBonusItem > div {
    color: white;
}
#calc_new.CalcModalContent {
	background-color: #1a1a1a;
}
#calc_new.CalcModalContent .CM-header{
	background-color: #333;
}
	#calc_new.CalcModalContent .calc_content .dropDownControl select,
	#calc_new.CalcModalContent .calctextbox {
		background: #cfcfcf
	}
	#calc_new.CalcModalContent .CC-OddItem .CCO-checkbox .coeffCheck:checked + label span:after{
		border-color: #000;
	}
	#calc_new.CalcModalContent .coeffsTitle {
		color: #00e777;
	}
	#calc_new.CalcModalContent .primBtn{
		background-color: #00e777
	}
	.calcLbl{
		color: #fff;
	}

/*300 luckies*/
.congratsBoxTitle, .congratulationText {
	position: absolute;
	color: #fff;
	font-weight: bold;
}
.tgpopup {
	display: none;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}

.tgpopup .tg--close {
	position: absolute;
	top: 20px;
	right: 25px;
	color: #fff;
	font-family: TotoFont;
	font-size: 13px;
}
.multipleBonusBox > div{
	top: 0;
}
.multipleBonusBox .multipleBonusBoxText{
	top: 210px;
}

.multipleBonusBox .congratulationText {
	top: 170px;
	font-size: 16px;
	font-family: italic;
	left: 10px;
	transform: rotate(-7deg);
	transform-origin: 50% 50%;
}

.multipleBonusBox .congratsBoxTitle {
	text-transform: uppercase;
	top: 100px;
	left: 0px;
	font-size: 40px;
}

.multipleBonus--goOn {
	background-image: linear-gradient(to right, #5490B5, #406D84);
	background-size: 200% auto;
	line-height: 31px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .5s ease;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	color: #fff;
}

	.multipleBonus--goOn:hover {
		background-position: right center;
	}
.tg__coupon--fixed {
	position: fixed;
	z-index: 450;
}
.es__event_info {
	background-color: #333;
	color: #979797;
}
.es__event_odd_container {
	background-color: #2b2b2b;
}
.es__event_odd_container {
	padding: 6px 7px;
}
.es__total_odd_container {
	background-color: #333;
}
/* multi bet */
.es__event_odd_container {
	background-color: #2b2b2b;
	color: #979797;
}
.es__add_coupon_btn {
	background-color: #00E777;
	color: #000;
}
.es__total_odd_container {
	background-color: #333;
	color: #fff;
}
.tabSelectorHeading{
	display: none;
}
.es__bonus_odd_container {
	color: #fff;
}
.l_od_express_day_bonus {
	color: #00E777;
}
.es__coupon_number{
	color: #fff;
} 
        .finished_event_wrapper {
            background-color: #1A1A1A;
            color: #fff;
        }
        .finished_event_header {
            background-color: #262626;
            color: #fff;
        }
        .finished_event_tournament_name {
            background-color: #333;
            color: #fff;
        }
        .finished_event_line, .bonus_heading_line {
            background-color: linear-gradient(to right, #0000 0%,#2afc75 50%,#0000 100%);
        }
        .finished_event_message {
            background-color: #262626;
            color: #fff;
        }
        .finished_event_score {
            color: #2afc75;
        }
    