/*Bet5*/
/*.loader {background: url('/images/partnerLoader.gif') 50% 50% no-repeat rgba(0,0,0, 0.9);}*/
.main_menu{background-color: #E6E6E6;}


body{background-color: #fff;}
/*btn*/
.btn_orange, a.btn_orange{background-color:#7AAF77; color:#fff !important;}
.btn_grey {background-color:#E6E6E6; color:#000;}
.btn_orange.btn_bet {background-color: #5DCC57}
/*header*/
.main_menu_item {
    border:none;
    background-color: #7AAF77;
    color: #fff;
}
.main_menu_item.menu_active {background-color:#FFB238; color:#fff;}
#home_live_sports .sport_name{color: #347131}

/*slider*/
.prematch_sport .sport_count {background-color:#A1A1A1; color:#fff;}
.sliderBg {background-color:#848484;}
.home_prematch_sports i, .events_page_sports i {color:#fff;}
.prematch_sport .sport_name {color:#fff;}
.events_page_sports .active i  {color:#FFB238;}

/*live betting*/
.mainBtn {background-color:#5DCC57; border-color:#5DCC57; color:#fff;}
.mainBtn > a {color:#fff;}
.sectionBg {background-color:#D0D0D0;}
#events_page_filter{border-bottom: 1px solid #acacac;}
.oneGameClr {background-color:#fff; border-radius: 5px}
.gm h1 {color:#000;}
.gm h2 {color:#000;}
.gm .score h3 {color:#273a47;}
.gm .score h4 {color:#347131;}
.txt_search{background-color: #fff; color: #333;}
.odds_count {background-color:#D0D0D0; color:#A1A1A1;}
.odd_name_empty {background-color:#E6E6E6; border:0; color:#000; border-top-right-radius: 3px; border-top-left-radius:3px;}
.odd_name {background-color: #A1A1A1; border-top: none} 
.odd_factor {background-color: #7C7C7C}



.oddsClr {background-color:#fff; color:#1b303f; }
.odd_factor, .odd_factor_empty, .event_details_item .st .odd_factor {border: 1px solid #A1A1A1; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; margin-top: 1px;}
.odd_factor_empty {padding-bottom: 4px;}
.selectedOdd {background-color:#5DCC57; color:#fff;}
.mobLiveStakeName, .coefficient_container .sportIcon {background-color: #A1A1A1; color: #fff;} 
.event_page_data_panel .le_panel .stt {background-color:#89a4bf; color: #183046; }
/*more*/
.button_container {background-color:#A1A1A1;}
.button_container .same_button {background-color:#5DCC57; color:#fff;}

/*prematch*/
.headingMob {background-color:#5DCC57; color: #fff;}
.event_details_item .stt {color:#696969;}
.description {background-color:#89a4c1; color:#19354d;}
.mobBACont:before {background-color:#fff; color:#000;}
.is_cashout_icon{color: #89a4bf}
.short_id {background-color:#7aaf77; color: #ffffff;}

.fav.active {color:#e3002a; }
/*tabs*/
.live_tabs_header .selector_panel .tab_selector_active{
    background-color: #A1A1A1;
    color: #fff;
}
.tab_cupon.tab_selected  {
    background-color: #FFB238;
}

.live_tabs_header .selector_panel .tab_selector {background-color:#A1A1A1; color:#fff;}
 .tab_cupon {background-color: #777777; color:#fff;}
/*live*/
.event_page_data_panel .champ_expense .expense {color:#ffe61d;}
.liveMobtblHead {background-color:#E6E6E6; color:#89a4c1;}
.liveMobtblRow {background-color:#fff; color:#333; border-color:#696969;}
.event_page_data_panel .le_panel .odd_name {background-color:#8e9db4 !important; border:0; }
.event_page_data_panel .le_panel .st, .st {background-color:#fff !important; color:#1b2e44;}
.shp1{background-color: #b9c1ce !important}
#gameStatus{color: #fff}
/*coupon*/
.mobHeader {background-color:#7AAF77; color:#fff;}
#BCClose, #coup_settings, #coup_close, #search_close {color:#fff;}
.coupon-content .caption .lbl .cnt {background-color:#fff; color:#333;}
.stake_info .is_cashout_icon {background-color:#818181; color:#fff;}
.cp_builder {background-color: #D0D0D0;} 
.stake_info .is_cashout_icon {color: #f8f8f8;}
.coupon-content .cp_builder .stakes_panel .stake_item {background-color:#fff;}
.coupon-content .row {background-color:#E6E6E6;}
.coupon-content .row.commonCoeff, .coupon-content .row.aggOdd {background-color: #fff;}
.bg_header {background-color: #A1A1A1;}
#bookingContainer .tabSelectorText {color: #023873;}
.bbCont {border: 1px solid #023873; border-radius: 3px;}

.coupon-content .cp_builder .cp_footer .row .cp_system_ddl, .coupon-content .cp_builder .cp_footer .row .amount.multiCurrency {background-color:#f5f5f5; border:1px solid #696969;}
.coupon-content .cp_builder .cp_footer .row .win_amount.multiCurrency, .coupon-content .cp_builder .cp_footer .chb_control {color:#696969;}

/*coupon settings panel*/
.coup_settings_panel {background-color:#fff; color:#013970;}
#one_click_bet, .coup_settings_panel .favam .favBox div {background-color:#f5f5f5; border:1px solid #696969;}

/*keyboard*/
.customKeybord {background-color:#fff;}
.keybordNumber, .keybordActionButton {background-color:#e8e8e8; color:#333; border-radius:2px;}
.customKeybord .keybordDone {
    background-color: #5dcc57;
    color: #333;
}

/*bet history*/
#ma_sections_tab .tab_body_active {background-color:#A1A1A1;}
.profile_caption {background-color:#e3002a; color:#fff;}
#date_header, .ma_mb_date, .search_table .SearchDescStyle, .profile_user_history_item .hide_footer:after {color:#fff;}
.profile_user_history_item .history_item_row_footer .footer_btn:after { color: #999;}
#betchecker{background-color: #fff}
.profile_user_history_item {background-color: #fff;}
#betchecker .search_table .SearchDescStyle {background-color: #A1A1A1; color: #fff}
.BCHeader{color: #fff;}
.betCheckerContainer, .betCheckerBody, .betCheckerInputBox{background-color: #e4e4e4;}
.dropDownControl select, .search_table .textbox {background-color:#f5f5f5; border:1px solid #696969;}

.maBonusItem > div {
    color: white;
}
.puHead {
    background-color: #A1A1A1;
}
.puBody {
    background-color: #fff;
    color: #70869b
}

.mainBg {
    background-color: #002245;
}

.babBg .SearchDesc, .betBookFooter .bb {background-color: #72849c; color: #fff; }


/* Change color start */

.main_menu_item.btn_search_mob.sportIcon.ns.ui-link {
    background-color: #fff;
    color: #777777;
}

.sport_header_line {
    background-color: transparent;
}

.events_page_sports .scr_cont,
.puHead {
    background-color: #777777;
}

.puHead {color: #fff;}
 
        .finished_event_wrapper {
            background-color: #D0D0D0;
            color: #000;
        }
        .finished_event_header {
            background-color: #d9d9d9;
            color: #000;
        }
        .finished_event_tournament_name {
            background-color: #E6E6E6;
            color: #000;
        }
        .finished_event_line, .bonus_heading_line {
            background-color: linear-gradient(to right, #0000 0%,#347131 50%,#0000 100%);
        }
        .finished_event_message {
            background-color: #d9d9d9;
            color: #000;
        }
        .finished_event_score {
            color: #347131;
        }
    