/*Run88bet*/
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: 'Droid Sans', sans-serif;
}

.home_prematch_sports i, .events_page_sports i {
	font-family: TotoFont !important;
}

/*.loader {
	background: url('/images/bet88Loader.gif') 50% 50% no-repeat rgba(0,0,0, 0.9);
}*/



.btn_orange,
.tab_cupon.tab_selected,
.main_menu_item.menu_active {
	background: #2985d2;
	background: -moz-linear-gradient(top, #2985d2 0%, #2367a7 100%) !important;
	background: -webkit-linear-gradient(top, #2985d2 0%,#2367a7 100%) !important;
	background: linear-gradient(to bottom, #2985d2 0%,#2367a7 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2985d2', endColorstr='#2367a7',GradientType=0 );
	color: #fff !important;
}

.is_cashout_icon,
.stake_info .is_cashout_icon {
	color: #ffb700;
}

.btn_grey {
	background-color: #999;
	color: #fff;
}

/*.hideStreamMob {
	display: none !important;
}*/

body {
	background-color: #111;
}

.main_menu {
	background-color: #333;
}

.main_menu_item {
	background-color: #2b2b2b;
}

.sport_header_line {
	background-color: #2b2b2b;
	border-top: 1px solid #333;
}

.prematch_sport .sport_count {
	color: #999;
}

.events_page_sports .active i {
	color: #00b4ff;
}

.home_prematch_sports i, .events_page_sports i, .prematch_sport .sport_name {
	color: #fff;
}

.mainBtn {
	background-color: #333;
	border: none;
	color: #fff;
}

	.mainBtn a {
		color: #fff;
	}

/*odds*/
.odd_name, .odd_name_empty {
	background-color: #2b2b2b;
	border: none;
	color: #8a8a8a;
	border-bottom: 2px solid #181818;
}

.event_details_item .st .odd_factor,
.mobPremStakeName,
.event_page_data_panel .le_panel .odd_factor,
.event_page_data_panel .le_panel .odd_name {
	color: #fff;
}

.oddsClr {
	background-color: #2b2b2b;
}

.gm .odd_factor {
	color: #fff;
}

.selectedOdd,
.button_container .same_button {
	background: #2985d2;
	background: -moz-linear-gradient(top, #2985d2 0%, #2367a7 100%);
	background: -webkit-linear-gradient(top, #2985d2 0%,#2367a7 100%);
	background: linear-gradient(to bottom, #2985d2 0%,#2367a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2985d2', endColorstr='#2367a7',GradientType=0 );
	color: #fff;
}

.odds_count {
	background-color: #2b2b2b;
	border-top: 1px solid #535353;
	color: #ffb700;
}

.body_panel .tab_body_active {
	background-color: #111;
}

.description {
	background-color: #333;
	color: #999;
}

/*mob header*/
.mobHeader {
	background-color: #333;
	color: #fff;
}

.coupon-content .row, .coupon-content .row.commonCoeff, .coupon-content .row.aggOdd {
	background-color: #1D1D1D;
	color: #fff;
}

.coupon-content .cp_builder .stakes_panel .stake_item {
	background-color: #333;
	color: #fff;
}

.stake_info .is_cashout_icon {
	background-color: #111;
}

.rgt {
	font-size: 18px;
	color: #ffb700;
}

.coupon-content .btn_bet {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .factor_up {
	color: #36ff00;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .factor_down {
	color: #ff0303;
}

.coupon-content .cp_builder .cp_footer .row .win_amount.multiCurrency {
	font-size: 18px;
}

.coupon-content .row {
	min-height: 25px;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_info .ev_name {
	color: #00b4ff;
}

.coupon-content .cp_builder .stakes_panel .stake_item .stake_buttons {
	color: #fff;
}

.live_tabs_header .selector_panel .tab_selector_active {
	background-color: #181818;
	color: #fff;
}

.oneGameClr {
	background-color: #181818;
}

.mobLiveStakeName {
	color: #939393;
}

.event_page_data_panel .le_panel .odd_name {
	border: 0 !important;
}

.event_page_data_panel .le_panel .st {
	background-color: #333 !important;
	color: #fff;
}

.event_page_data_panel .le_panel .odd_name {
	color: #898989;
	background-color: #333 !important;
}

.event_page_data_panel .le_panel .stu1 .sTriangle {
	background: url(/images/Mobile/icons/inc88.png) no-repeat;
}

.event_page_data_panel .le_panel .stu2 .sTriangle {
	background: url(/images/Mobile/icons/dec88.png) no-repeat;
}


#ma_mb_submit {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
}

.cp_success,
.ma_mb_date {
	color: #fff;
}

.profile_caption {
	background-color: #333;
	color: #fff;
}

.player_panel .err {
	color: #fff;
}

.history_item_row, .operation_item_row {
	color: #d1d1d1;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.17) 0%, rgba(0,0,0,0.17) 1%, rgba(0,0,0,0.17) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b0000', endColorstr='#2b0000',GradientType=0 );
}

.mobBetHistCur, .in_process_line {
	background-color: #ffb700;
}

.profile_user_history_item .txt, .profile_user_history_item .txt a, #srch_page_srch_res {
	color: #fff;
}

.profile_user_history_item {
	background-color: #15181d;
}

.maBonusPanel label,
.maBonusItem span {
	color: #a3a3a3;
}

#MaPage #ma_sections_tab .profile_caption {
	display: none;
}

.r8_tab {
	padding-right: 40px;
}

	.r8_tab, .r8_tab .selector_panel {
		width: 100%;
	}

		.r8_tab .tab_selector {
			background-color: #333;
			color: #fff;
			height: 40px;
			line-height: 40px;
			width: 50%;
			text-align: center;
		}

		.r8_tab .tab_selector_active {
			background-color: #666;
			color: #fff;
		}


#date_header {
	margin: 0px;
	padding: 10px;
}
/*Gradien Scroll Highlight*/
.home_prematch_sports, .events_page_sports {
	position: relative;
}

	.home_prematch_sports::before, .events_page_sports::before {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 20px;
		height: 100px;
		width: 75px;
		background-image: linear-gradient(to left, #000 45%, transparent 80%);
		opacity: .5;
		z-index: 100;
		pointer-events: none;
	}

.finished_event_wrapper {
	background-color: #1A1A1A;
	color: #fff;
}

.finished_event_header {
	background-color: #22232d;
	color: #fff;
}

.finished_event_tournament_name {
	background-color: #2d2f3b;
	color: #fff;
}

.finished_event_line, .bonus_heading_line {
	background-color: linear-gradient(to right, #0000 0%,#7ed64c 50%,#0000 100%);
}

.finished_event_message {
	background-color: #22232d;
	color: #fff;
}

.finished_event_score {
	color: #7ed64c;
}

.search_table .SearchDescStyle {
	color: #eee;
}
