
  
  /*--*/
  :root {
    --primaryBg:  #28616b;
    --primaryBg3: #0c1e21;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #28616b;
    --accentG: #28616b;
    --accentRGBA: rgba(40, 97, 107, 0.6);
    --accentTxt: #fff;

    --brandG: #f9d463;
    --brandBg: #f9d463;
    --brandTxt: #000;

    --actionButtonG: #28616b;
    --actionButtonTxt: #fff;

    --widgetG: #ffffff;
    --widgetBg: #ffffff;
    --widgetBgHover: #f2f2f2;
    --widgetBg2: #e6e6e6;
    --widgetBg2Hover: #d9d9d9;
    --widgetBg3: #cccccc;
    --widgetBg3Hover: #bfbfbf;
    --widgetRGBA: rgba(255, 255, 255, 0.6);
    --widgetTxt: #000;
    --widgetTxt2: #4d4d4d;
    --widgetTxt3: #666666;

    --oddG: #e9e9e9;
    --oddBg: #e9e9e9;
    --oddTxt: #000;
    --oddTxt2: #4d4d4d;

    --oddActiveG: #f9d463;
    --oddActiveBg: #f9d463;
    --oddActiveBg2: #f7c632;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #d9e7d3;
    --showMoreBg: #d9e7d3;
    --showMoreTxt: #000;
    --showMoreTxt2: #4d4d4d;

    --headerG: #ffffff;
    --headerBg: #ffffff;
    --headerTxt: #000;

    --popupHeaderG: #ffffff;
    --popupHeaderBg: #ffffff;
    --popupHeaderTxt: #000;

    --popupBg: #ffffff;
    --popupG: #ffffff;
    --popupTxt: #000;
    --popupTxt2: #4d4d4d;

    --tabG: #e9f0fd;
    --tabBg: #e9f0fd;
    --tabTxt: #000;
    --tabTxt2: #4d4d4d;

    --activeTabG: #ffffff;
    --activeTabBg: #ffffff;
    --activeTabTxt: #000;

    --sideBarTabG: #e9f0fd;
    --sideBarTabTxt: #000;

    --sideBarActiveTabG: #ffffff;
    --sideBarActiveTabTxt: #000;

    --inputG: #ffffff;
    --inputBg: #ffffff;
    --inputBg2: #e6e6e6;
    --inputTxt:  #000;
    --inputTxt2: #4d4d4d;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;

}
/*---*/


/*BiaBet skinning*/

/*coupon*/
.tg_widget_bg_2, .tg--cashout-body, .tg__cashout_popup, .booking_number {
    background-color: #ffffff;
    color: #333333;
}

.stake_item_panel {
    background: #D0E0E3;
    color: #000;
    border-color: #ffffff;
}

.coupon_sport_name_container {
    color: #000;
}
/*input inside widgetBg3*/
.tg_widget_bg_2 .tg_input,
.tg_widget_bg_2 .tg__dropdown_coupon {
    background-color: #E9E9E9;
    color: #000;
}

.tg__btn-coupon {
    background-color: #D0E0E3;
    color: #000;
}

    .tg__btn-coupon:hover {
        background-color: #000;
        color: #ffffff;
    }

.tab_cupon {
    background-color: #ffffff;
    color: #333333;
}

    .tab_cupon.tab_selected,
    .tab_cupon:hover {
        background-color: #ffffff;
        color: #000;
    }

.tg__coupon_factor,
.tg__coupon_square {
    background-color: #ffffff;
    color: #000;
}

/*input inside widgetBg*/
.tg_widget_bg .tg_input {
    background-color: #ffffff;
    color: #666666;
}
/*mainBg*/
.tg_bg,
.tg__modal_close,
.tg--close,
.tg__info_panel .selector_panel {
    background-color: #28616b;
    color: #fff;
}

.tg__live_filter_item.checked {
    background-color: #ffffff;
    color: #999999;
}

.gameContentTitle.tg_widget_header {
    background: #ffffff;
    color: #000;
}

    .gameContentTitle.tg_widget_header .tg-ico-arrow {
        color: #000;
    }

.tg_widget_heading {
    background: #d0e0e3;
    color: #999999;
}

/*sidebar*/
.tg__left_menu_item--lvl3 .tg-ico-fav {
    color: #999;
}
.tg_sidebar_bg {
    background-color: #ffffff;
}

.tg__left_menu_item {
    background: #ffffff;
    color: #999999;
}

    .tg__left_menu_item:hover {
        background: #ffffff;
    }

.tg_sidebar_bg_2 {
    background-color: #ffffff;
    color: #999999;
}

    .tg_sidebar_bg_2:hover {
        background-color: #ffffff;
    }

.tg_sidebar_bg_3 {
    background-color: #ffffff;
    color: #999999;
}

    .tg_sidebar_bg_3:hover {
        background-color: #ffffff;
    }

    .tg__left_menu_item.tg__left_menu_item-active {
        background: #28616b;
        color: #000;
    }


.liveGameSelected .tg_sidebar_bg_3 .liveSportname,
.tg_sidebar_bg_3.left_menu_line_active {
    color: #28616b;
}

    .tg__left_menu_item.tg__left_menu_item-active .tg_sidebar_text_akcent,
    .liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent,
    .left_menu_line_active .tg_sidebar_text_akcent {
        color: #28616b;
    }
.tg_sidebar_text_akcent,
.live_menu_item_left .tg_sidebar_text_akcent,
.tg-bg_transparent .teamName,
.tg-bg_transparent .tg_team_name,
.tg__open_event_img .tg-clr-akcent2.tg_score {
    color: #28616b;
}

.tg__left_menu_item--lvl1 {
    background: #ffffff;
    color: #000;
}

.tg__left_menu_item--lvl2 {
    background: #ebebeb;
    color: #000;
}

.tg__left_menu_item--lvl3 {
    background: #D0E0E3;
    color: #000;
}
/*end of sidebar*****************************************/
.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
    background-color: #ffffff;
    color: #999999;
}

.tg--issue {
    background-color: #fff;
    color: #000;
}

.tg__left_menu_item,
.live_menu_item_left {
    border-bottom-color: #28616b;
}

.tsModalContent,
.tg__dropdown_content,
.tg__modal_big,
.tg--express_combination {
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
}

.tg__banner__date {
    color: #cccccc;
}

.tg__submenu__item {
    color: #999999;
    border-radius: undefinedpx;
}

    .tg__submenu__item.active,
    .tg__submenu__item:hover {
        color: #fff;
    }

.tg_team_name,
.tg__open_event_img .title {
    color: #666666;
}

.tab_selector {
    background-color: #E9F0FD;
    color: #999;
}

.ss__step_slider .ss__ruller > div.off {
    background-color: #ccc;
}

#line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper {
    background-color: #28616b;
}

.tg__banner__heading,
.tg__open_event_img .tg_score {
    color: #000000;
}

.tab_selector.tab_selector_active,
.tab_selector:hover {
    background: #ffffff;
    color: #000;
}

.tg--coupon-container .tab_selector.tab_selector_active {
    background-color: #204E57;
    color: #fff;
}

.tg__step_slider,
.tg_widget_bg,
.tg_subheader_btn {
    background-color: #ffffff;
    color: #666666;
}

.tg__one_game {
    background: #ffffff;
    color: #000;
}

.tg__one_game_team {
    color: #000;
}

.tg_widget_row {
    border-bottom-color: #28616b;
}

.tg__match_item_stake,
.tg--pos_comb_row,
.tg__coupon_switches .tg__switch_cont,
.tg--border-bot-1 {
    border-color: #28616b;
}

/*sidebar*/
.tg_sidebar_bg_2.tg__step_slider {
    background-color: #d0e0e3;
    color: #999999;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
    background: #999;
}

.tg_widget_header {
    background-color: #D0E0E3;
    color: #333;
}

    .tg_widget_header .tg-ico-arrow {
        color: #000;
    }

.tg_widget_sub_row,
.tg__dropdown_value,
.tg__input,
.tg__input-ico,
.posCombItem,
.tg__slider__btn:hover,
#calc_new .tg__btn {
    background-color: #ffffff;
    color: #666666;
}
.tg_input {
    background-color: #E9E9E9;
    color: #999;
}
.tg_input_coupon_amount {
    color: #999999;
}

.tg__dropdown__item {
    border-bottom-color: #28616b;
}

    .tg__dropdown__item:hover,
    .tg__dropdown__item.activeItem {
        color: #999999;
    }

.tg__dropdown_content {
    background-color: #ffffff;
    color: #666666;
}

.tg__subhead .tg__dropdown_value {
    background-color: #ffffff;
}

.tg__input:focus,
.tg_input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px undefined;
}

.tg__modal_wrapper {
    background-color: undefined;
}

.tg-ico-date {
    color: #999999;
}

.tg__score_box {
    background-color: #28616b;
    color: #fff !important;
}

.tg__more {
    background: #d9e7d3;
    color: #000;
}

    .tg__more:hover {
        background: #D0E0E3;
    }

.tg--cashout-row,
.tg--cashout-pagination-item,
.tg__info_panel .selectorWrapper,
.tg__prematch_header.tg_widget_bg,
.lineEventHeaderWide.tg_widget_bg,
.tg__live_list_header.tg_widget_header,
.tg__multiview_header.tg_widget_header,
.tg__calendar_header.tg_widget_heading,
.tg__results_header.tg_widget_bg {
    background-color: #ffffff;
    color: #000;
}

.tg_widget_header_2 {
    background-color: #204E57;
}

    .tg__multiview_header.tg_widget_header .tg__one_game_team {
        color: #000;
    }

.l_od,
.l_od_empty {
    background: #e9e9e9;
    color: #000;
}

    .l_od:hover,
    .odCnt:hover .l_od,
    .l_od.selectedOdd, .tg--cashout-item-cashout, .tg--cashout-pagination-item.active {
        background: #f9d463;
        color: #000;
    }

.tab_selector.tab_selector_active .tg__badge_live {
    background-color: #CB0000;
    color: #fff;
}

.tab_selector .tg__badge_live {
    background-color: #ffffff;
    color: #666666;
}

.tg_widget_tab_text,
.tg__srv {
    color: #f9d463;
}

.tg__fix_btn {
    color: #000;
}

.tg_widget_bg_2 .selectorWrapper .tg__fix_btn {
    color: #000;
}

.tg_widget_bg_2 .tg__fix_btn {
    color: #fff;
}

.tg_widget_bg_2 .tg__dropdown_value {
    background-color: #E9E9E9;
    color: #999999;
}

.tg_widget_text_akcent {
    color: #28616b;
}

.tg__fix_btn.checked {
    color: #000;
}

.tg_widget_bg .tg-ico.active {
    color: #28616b !important;
}

#calc_new .tg__btn-ternary,
.tg__btn-ternary {
    background: #f9d463;
    color: #000;
}

.tg_widget_bg .tg__btn .tg-ico {
    color: #000;
}

#calc_new .tg__btn-ternary:hover,
.tg__btn-ternary:hover {
    background-color: #fadc80;
    color: #000;
}

.digi_scroll_dragger {
    background-color: #28616b;
}

.tg_widget_row .tg__one_game_icons,
.tg_widget_row .tg__home_game_time,
.tg-ico-arrow {
    color: #666666;
}

.tg-bg_transparent {
    background-color: rgba(255, 255, 255, 0.7);
}

.tg__switch .tg__switch_ico {
    background-color: #999;
}

    .tg__switch .tg__switch_ico:before {
        background-color: #ffffff;
    }

.tg__switch input:checked + .tg__switch_ico:before {
    background: #f9d463;
}
/*calendar*/
.ui-widgetBg-content {
    background: #ffffff;
    color: #666666;
}

.ui-widgetBg-header {
    background: #ffffff;
    color: #666666;
}

    .ui-state-default, .ui-widgetBg-content .ui-state-default, .ui-widgetBg-header .ui-state-default {
        background: #ffffff;
        color: #666666;
    }

    .ui-state-highlight, .ui-widgetBg-content .ui-state-highlight, .ui-widgetBg-header .ui-state-highlight {
        background: #f9d463;
        color: #000;
    }

    .ui-state-active, .ui-widgetBg-content .ui-state-active, .ui-widgetBg-header .ui-state-active {
        background-color: #fadc80;
        color: #000;
    }
/*calendar end*/

/*border radius (roundness)*/
.tab_selector_active, .tab_selector:hover {
    border-radius: undefinedpx undefinedpx 0 0;
}

.tg__btn,
.l_od_empty,
.l_od,
.tg__dropdown_value,
.tg__dropdown_content,
.tg__input,
.tg_input {
    border-radius: undefinedpx;
}

@keyframes lightbox {
    from {
        color: #999999;
    }

    to {
        color: #f9d463
    }
}

.tg__tournament_ico_switch .tg__switch_text:before {
    color: #f9d463
}

.tg_coin {
    background: #f9d463;
    color: #000;
}

.tg__match_item_btn {
    background-color: #28616b;
    color: #fff;
}

.overviewEventSlider .tg__btn_arrow {
    background-color: #ffffff;
    color: #000;
}

.sportLeftPane .liveFilterContainer {
    background-color: #28616b;
    color: #fff;
}

/* Bet history */
.tg__bet_history_row .tg-clr-akcent,
.tg__list_row_sub .tg-clr-akcent2,
.tg__partial_cashout--icon,
.tg-ico-cheque_redact.tg-clr-akcent2 {
    color: #28616b;
}

.tg__bet_history .tg__list_row.tg_sticky_bot {
    background-color: #fff;
}

/* book a bet skinning */
.tg__modal_book_bet {
    background-color: #e9e9e9;
    color: #666666;
}

    .tg__modal_book_bet .tg__modal_header {
        background-color: #204E57;
        color: #fff;
    }

    .tg__modal_book_bet .tg__list_bg {
        background-color: #28616b;
    }

    .tg__modal_book_bet .tg__list_row {
        background-color: #ffffff;
    }

        .tg__modal_book_bet .tg__list_row:nth-child(even) {
            background-color: #ffffff;
        }

    .tg__modal_book_bet .tg__border--color-akcent {
        border-color: #f9d463;
        background-color:#fff;
    }

    .tg__modal_book_bet .tg-clr-akcent {
        color: #f9d463;
    }

/* Right banner styles */
.tg__custom_rightBanner_line,
.tg__custom_rightBanner_desc {
    border-top-color: #f9d463;
}

.tg__rightBanner_seeMore {
    background: #f9d463;
    color: #000;
}

.component_tax_data {
    background-color: #28616b;
    color: #666666;
}

    .component_tax_data .tg-ico {
        color: #28616b;
    }

.component_tax_data_wrapper .component_tax_data_row strong {
    color: #999999;
}

.tg__show_title[data-title]:hover:after {
    background-color: #28616b;
    color: #999999;
}

.tg_badge_transparent {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.tg__coupon_switches {
    border-bottom-color: #28616b;
}

/*paper view skinning*/

/*paper view headers bg*/
.paperView .es__home_bet_header,
.paperView .es__live_page .es__text_heading,
.paperView .es__event_detail_header {
    background: #ffffff;
    color: #000;
}

/*paper view widgetBg bg*/
.paperView .es__home_bet_item,
.paperView .es--Live_page_collapse_panel,
.paperView .es__live_sub_item_event,
.paperView .es__home_one_game,
.paperView .es__home_bet_show_hide,
.paperView .es__event_row,
.paperView .es--live_ingame_odds_cont,
.paperView .es__fixed_panel,
.paperView .es__event_detail_item,
.paperView .es__paper_odds,
.paperView .es__home_bet_item .es__event_row,
.paperView .es__home_bet_item .es__home_tab,
.paperView .live_tabs_header .selectorWrapper {
    background: #ffffff;
    color: #999999;
}


    .paperView .es__home_bet_item .tab_selector.tab_selector_active,
    .paperView .es__home_bet_item .tab_selector:hover,
    .paperView .es__home_bet_item .es__event_subhead,
    .paperView .es__paper_name,
    .paperView .es__filter_container {
        background: #d0e0e3;
        color: #999999;
    }

        .paperView .es__filter_container .tg__dropdown_value {
            background: #ffffff;
            color: #999999;
        }

.paperView .es__event_subhead,
.paperView .es--live_tabular_sub_row {
    background: #ffffff;
    color: #666666;
}

.paperView .es__home_one_game_header {
    background: #ffffff;
    color: #999999;
}

/*paper view headers bg*/
.paperView .es__expanded_heading,
.paperView .es__live_expanded_row,
.paperView .es__expanded_info_left,
.paperView .es__paper_name,
.paperView .es__header_with_border,
.paperView .es__event_sub_row {
    background: #ffffff;
    color: #666666;
}

    /*paper view border bg*/
    .paperView .stakeContainer + .stakeContainer,
    .paperView .es__live_expanded_row + .es__live_expanded_row,
    .paperView .EU-li-cont + .EU-li-cont,
    .paperView .es__paper_name,
    .paperView .es__live_page .es__expanded_info_cont,
    .paperView .es__header_with_border,
    .paperView .es__home_row + .es__home_row,
    .paperView .es--live_sport_row_cont,
    .paperView .es__filter_container,
    .paperView .paper_home_games_wrapper > div > div + div {
        border-color: #28616b;
    }

/*paper view odds*/
.paperView .component_odd_empty,
.paperView .component_odd,
.paperView .component_odd.selectedOdd {
    background: #e9e9e9;
    color: #000;
}

    .paperView .component_odd:hover,
    .paperView .component_odd_empty:hover,
    .paperView .EUodds:hover,
    .paperView .EUodds.selectedOdd,
    .paperView .component_odd.selectedOdd {
        background: #f9d463;
        color: #000;
    }

.paperView .es__show_more_btn .tg__chb_text {
    background: #f9d463;
    color: #000;
    border-radius: undefinedpx;
}

    .paperView .es__show_more_btn .tg__chb_text:hover {
        background: #fadc80;
        color: #000;
    }


/*temp*/
.sportHeaderPaneUpperRow,
.sportHeaderPaneLowerRow,
.tg__footer {
    display: none;
}

.tg__text_with_shadow {
    text-shadow: none;
}

.liveHeaderTitleRow .tg_score {
    color: #000;
}

.tg__match_header.tg_widget_header {
    background-color: #D0E0E3;
}

.tg--coupon-container .selector_panel {
    background-color: #204E57;
}

.paperView .es__home_bet_item .tab_selector {
    background-color: #E9F0FD;
}

.tg__accordion__icon {
    color: #fff;
} 
    .tg__modal_confirm {
      background-color: #f9d463;
      color: #000;
    }
    .tg__modal_confirm:hover {
        background-color: #edb509;
    }
    .tg__modal_header {
      background-color: #D0E0E3;
    }
    .tg__modal_special_content {
      background-color: #fff;
    }

.tg__banner,
.newsSliderMarketContainer {
    background: #ffffff;
    color: #000;
} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #ffffff;
	color: #333333;
}
.es__express_slider_arrow:hover {
	background-color: #f2f2f2;
	color: #000;
}
.tg__exp_of_day_one_game {
	background-color: #ffffff;
	color: #333333;
	border-bottom: 1px solid #28616b !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #333333;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #000;
}
.es__express_day_odd {
	border-color: #28616b;
  color: #333333;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #f2f2f2;
	color: #333333;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #28616b;
}
.es__express_day_coupon {
	background-color: #ffffff;
	color: #333333;
}
/*multi bet of the day skinning*/
