
  
  /*--*/
  :root {
    --primaryBg:  #191919;
    --primaryBg3: #181818;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #ffe63d;
    --accentG: #ffe63d;
    --accentRGBA: rgba(255, 230, 61, 0.6);
    --accentTxt: #000;

    --brandG: #3ba437;
    --brandBg: #3ba437;
    --brandTxt: #fff;

    --actionButtonG: #ffe63d;
    --actionButtonTxt: #000;

    --widgetG: #262626;
    --widgetBg: #262626;
    --widgetBgHover: #191919;
    --widgetBg2: #0c0c0c;
    --widgetBg2Hover: #191919;
    --widgetBg3: #252525;
    --widgetBg3Hover: #181818;
    --widgetRGBA: rgba(38, 38, 38, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #191919;
    --oddBg: #191919;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #3ba437;
    --oddActiveBg: #3ba437;
    --oddActiveBg2: #2d7e2a;
    --oddActiveTxt: #fff;
    --oddActiveTxt2: #b3b3b3;

    --showMoreG: #404040;
    --showMoreBg: #404040;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #007337;
    --headerBg: #007337;
    --headerTxt: #fff;

    --popupHeaderG: #363636;
    --popupHeaderBg: #363636;
    --popupHeaderTxt: #fff;

    --popupBg: #262626;
    --popupG: #262626;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #363636;
    --tabBg: #363636;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #454545;
    --activeTabBg: #454545;
    --activeTabTxt: #fff;

    --sideBarTabG: #363636;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #454545;
    --sideBarActiveTabTxt: #fff;

    --inputG: #454545;
    --inputBg: #454545;
    --inputBg2: #2b2b2b;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;

}
/*---*/


/* - - - - Primary - - - - */
.tg_bg,
.tg__result_item,
.sportLeftPane .liveFilterContainer {
	background-color: #191919;
	color: #fff
}

.ss__step_slider .ss__ruller > div.off {
	background: #191919;
}

.tg__step_slider {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.tg__match_item_stake,
.tg__step_slider {
	border-color: #191919;
}

.tg__submenu__item {
	color: #cccccc;
}

	.tg__submenu__item.active,
	.tg__submenu__item:hover {
		color: #fff;
	}

/* - - - - Widget - - - - - */
.tg_widget_bg,
.tg__live_list_header,
.tg__banner,
.newsSliderMarketContainer,
.tg_left_tabs,
.posCombItemCont {
	background-color: #454545;
	color: #cccccc;
}

.tg__input-ico,
.tg__live_filter_item,
.africanView .tg_left_filter_tabs,
.tg__step_slider {
	color: #cccccc;
}

.tg--pos_comb_row {
	border-color: #454545;
}
/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: #262626;
	color: #ffffff;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #cccccc;
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2,
.tg_bet_history_order_row_sub,
.africanView .SBhead {
	background: #363636;
	color: #cccccc;
}

	/* - - - - Left Menu Level 3 - - - - */
	.tg__left_menu_item--lvl3,
	.tg__list_row_heading,
	.tg_bet_history_order_row_sub:nth-child(even) {
		background: #454545;
		color: #cccccc;
	}

/* - - - - Passive Tab - - - - */
.tab_selector,
.tab_cupon {
	background: #363636;
	color: #999999;
}

	/* - - - - Active Tab - - - - */
	.tab_selector.tab_selector_active,
	.tab_selector:hover,
	.tg__subhead .tg__dropdown_control,
	.tg__subhead .tg__input,
	.tg_subheader_btn,
	.tg_live_center-wrapper .selectorWrapper,
	.tab_cupon:hover {
		background: #454545;
		color: #ffffff;
	}

.tg__live_filter_item.checked,
.tg__left_menu_item.tg__step_slider {
	background: #333;
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading,
.africanView .tg--home2__stakeItem {
	background: #454545;
	color: #ffffff;
}

/* - - - - SubHeader - - - - */
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow,
.tg__modal_header,
.tg__cashout--header,
.live_menu_item_left_header,
.tg_bet_history_order_row,
.tg__match_header,
.africanView .tg--home2__stakeTypes,
.tg__home_game_heading {
	background: #363636;
	color: #999999;
}

.tg__banner__date {
	color: #999;
}

.tg__banner__heading {
	color: #fff;
}

	/* - - - - Single Game - - - - */
	.tg__one_game,
	.tg__banner,
	.prematch_event_odds_container,
	.tg__multi_game,
	.live_menu_item_left .tg--left_live_odds,
	.tg__calendar_item,
	.dg1,
	.overviewEventBody,
	.tg_popup_body_static,
	.tg__modal,
	.tg_bet_history_order_row:nth-child(even),
	.matchListWrapper,
	.multiViewHeaderCont,
	.posCombGridItem {
		background: #262626;
		color: #ffffff;
	}

		.tg__one_game_col,
		.tg__home_game_time,
		.tg__one_game_icons,
		.tg__one_game .maIcons {
			color: #cccccc;
		}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: #191919;
	color: #ffe63d;
}

/* - - - - Show More - - - - */
.tg__more {
	background: #404040;
	color: #ffffff;
}

/* - - - - Accordion Header - - - - */
.tg__block_header {
	background: #454545;
	color: #ffffff;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg-ico-fav--active,
.tg-ico-fav.active,
.tg__coupon_square,
.tg-clr-akcent,
.tg-clr-akcent2,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover,
.tg__btn-text:hover,
.tg__fix_btn:hover,
.tg__fix_btn.checked {
	color: #ffe63d;
}

.tg__coupon_square {
	background: #4D4D4D;
}
input:checked + .tg__switch_ico,
.tg_coin {
	background-color: #ffe63d;
}

.tg_coin {
	color: #000000;
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid #ffe63d;
}

.live_calendar .tab_selector,
.tg__coupon_tabs_cont {
	border-bottom: 2px solid;
}

.live_menu_item_left_header {
	border-bottom: 1px solid;
}

.live_calendar .tab_selector.tab_selector_active,
.live_menu_item_left_header {
	border-bottom-color: #ffe63d;
}

.tg__match_item_btn {
	background-color: #262626;
	color: #fff;
}
/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__modal_confirm:hover,
.africanView .tg--home2__stakeItem:hover,
.africanView .stItem_active.tg--home2__stakeItem,
.africanView .active .tg--home2__stakeItem {
	background: #3ba437;
	color: #ffffff;
}

.tabSelectorHeading {
	color: #3ba437;
}

/* - - - - BetSlip Bg- - - - */
.tg__coupon .tg--coupon-bg {
	background: #262626;
	color: #999999
}

.tab_cupon.tab_selected {
	background: #262626;
	color: #ffffff;
}

.tg__coupon_tabs_cont {
	border-bottom-color: #262626;
}

/* - - - - BetSlip Line - - - - */
.stake_item_panel {
	background: #363636;
	color: #999999;
	border-color: #262626;
}

.coupon_sport_name_container {
	color: #fff;
}

/* - - - - BetSlip Input - - - - */
.tg_input.tg_input_coupon_amount {
	background: #191919;
	color: #ffffff;
}

/* - - - - BetSlip Button - - - - */
.tg__btn-coupon,
.tg__btn-text {
	background: #454545;
	color: #999999;
}

.sportRightPane .tg__btn-ternary {
	background-color: #3BA437;
	color: #fff;
}
	.tg__btn-coupon.tg__login {
		background: #ffe63d;
		color: #262626;
	}

.tg--cashout-body, .tg__cashout_popup, .booking_number {
	background-color: #262626;
	color: #999999;
}

/* - - - - DropDown - - - - */
.tg__input,
.tg_input,
.tg__dropdown_control,
.tg_input + .ui-datepicker-trigger {
	background: #191919;
	color: #ffffff;
}

.ss__step_slider .ss__ruller > div.off {
	color: #191919;
}

.tg__dropdown__item {
	background: #191919;
	color: #cccccc
}

	.tg__dropdown__item:hover,
	.tg__dropdown__item-active,
	.liveSportNamesContainer,
	.tg__teams {
		color: #ffffff;
	}

.tg__dropdown_content {
	background: #191919;
}

/* - - - - Sections - - - - */
.tg--coupon-bg,
.tg__info_panel,
.tg__results_header,
.tg__cashout--wrapper,
.bet_generator_wrapper .tg_widget_bg_2 {
	background: #262626;
	color: #ffffff;
}

/* Styles we don't usually change */
.tg__badge_live {
	background-color: #262626;
	color: #999999;
}

.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__coupon_factor {
	background-color: #666;
	color: #fff;
}

.tg__switch_ico {
	background-color: #999;
}

.tg__open_event_img {
	color: #fff;
}

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tab_cupon {
	text-transform: uppercase;
}

/* - + - - - - + - > AFRICAN VIEW < - + - - - - + - */
.africanView .tabSelectorHeading {
	color: #ffffff;
}

.africanView .tg_left_filter_tabs.tg_left_filter_tabs_active {
	color: #fff;
}

.news_slider .oddsContainer {
	background-color: #262626;
}

.tg__bet_history .tg__btn-ternary {
	background-color: #3BA437;
	color: #fff;
} 
/*multi bet of the day skinning*/
.tg__exp_of_day_header,
.es__express_slider_arrow{
	background-color: #262626;
	color: #cccccc;
}
.es__express_slider_arrow:hover {
	background-color: #191919;
	color: #fff;
}
.tg__exp_of_day_one_game {
	background-color: #262626;
	color: #cccccc;
	border-bottom: 1px solid #191919 !important;
}
.es__total_odd_container .tg-clr-secondary {
	color: #cccccc;
}

.tg__exp_of_day_one_game .tg-ico,
.digi-pv-multibets-event-name-container {
	color: #fff;
}
.es__express_day_odd {
	border-color: #191919;
  color: #cccccc;
}
.es__bonus_odd_container,
.es__express_day_coupon-button-container {
	background-color: #191919;
	color: #cccccc;
}
.es__bonus_odd_container i,
.es__express_day_odd--total{
	color: #ffe63d;
}
.es__express_day_coupon {
	background-color: #262626;
	color: #cccccc;
}
/*multi bet of the day skinning*/
