
  
  /*--*/
  :root {
    --primaryBg:  #000;
    --primaryBg3: #333333;
    --primaryTxt: #fff;
    --primaryTxt2: #b3b3b3;
    --primaryTxt3: #999999;

    --accentBg: #C79E4F;
    --accentG: #C79E4F;
    --accentRGBA: rgba(199, 158, 79, 0.6);
    --accentTxt: #000;

    --brandG: #C79E4F;
    --brandBg: #C79E4F;
    --brandTxt: #000;

    --actionButtonG: #C79E4F;
    --actionButtonTxt: #000;

    --widgetG: #131313;
    --widgetBg: #131313;
    --widgetBgHover: #060606;
    --widgetBg2: #2c2c2c;
    --widgetBg2Hover: #1f1f1f;
    --widgetBg3: #121212;
    --widgetBg3Hover: #050505;
    --widgetRGBA: rgba(19, 19, 19, 0.6);
    --widgetTxt: #fff;
    --widgetTxt2: #b3b3b3;
    --widgetTxt3: #999999;

    --oddG: #000;
    --oddBg: #000;
    --oddTxt: #fff;
    --oddTxt2: #b3b3b3;

    --oddActiveG: #C79E4F;
    --oddActiveBg: #C79E4F;
    --oddActiveBg2: #ac8437;
    --oddActiveTxt: #000;
    --oddActiveTxt2: #4d4d4d;

    --showMoreG: #262626;
    --showMoreBg: #262626;
    --showMoreTxt: #fff;
    --showMoreTxt2: #b3b3b3;

    --headerG: #303030;
    --headerBg: #303030;
    --headerTxt: #fff;

    --popupHeaderG: #303030;
    --popupHeaderBg: #303030;
    --popupHeaderTxt: #fff;

    --popupBg: #131313;
    --popupG: #131313;
    --popupTxt: #fff;
    --popupTxt2: #b3b3b3;

    --tabG: #212121;
    --tabBg: #212121;
    --tabTxt: #fff;
    --tabTxt2: #b3b3b3;

    --activeTabG: #303030;
    --activeTabBg: #303030;
    --activeTabTxt: #fff;

    --sideBarTabG: #212121;
    --sideBarTabTxt: #fff;

    --sideBarActiveTabG: #303030;
    --sideBarActiveTabTxt: #fff;

    --inputG: #303030;
    --inputBg: #303030;
    --inputBg2: #161616;
    --inputTxt:  #fff;
    --inputTxt2: #b3b3b3;

    --borderRadius: 2px;
    --inputBirderRadius:  2px;
    --bottomBirderRadius:  2px;

}
/*---*/


/* - - - - Primary - - - - */
.tg_bg,
.tg__result_item,
.sportLeftPane .liveFilterContainer,
#line_tabs .selectorWrapper,
#live_tabs_header .selectorWrapper,
#line_tabs .tabsWithMarketFilter,
#live_tabs_header .tabsWithMarketFilter {
	background-color: #000000;
	color: #fff
}

.ss__step_slider .ss__ruller > div.off {
	background: #000000;
}

.tg__step_slider {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.tg__left_menu_item,
.live_menu_item_left,
.live_menu_item_left .tg--left_live_odds,
.tg__one_game,
.tg__match_item_stake,
.tg__step_slider {
	border-color: #000000;
}

.tg__submenu__item {
	color: #cccccc;
}

	.tg__submenu__item.active,
	.tg__submenu__item:hover,
	.coupon_sport_name_container,
	.liveSportNamesContainer,
	.tg__teams,
	.tg__banner__heading {
		color: #fff;
	}

/* - - - - Widget - - - - - */
.tg_widget_bg,
.tg__live_list_header,
.tg__banner,
.newsSliderMarketContainer,
.tg_left_tabs {
	background: #131313;
	color: #cccccc;
}

.tg--pos_comb_row {
	border-color: #292929;
}

.tg__input-ico,
.tg__live_filter_item,
.africanView .tg_left_filter_tabs,
.tg__step_slider,
.tg__banner__date {
	color: #cccccc;
}

/* - - - - Left Menu Level 1 - - - - */
.tg__left_menu_item--lvl1 {
	background: #131313;
	color: #fff;
}

.ss__step_slider .ss__slider,
.ss__step_slider .ss__ruller > div {
	background: #cccccc;
}

/* - - - - Left Menu Level 2 - - - - */
.tg__left_menu_item--lvl2,
.tg_bet_history_order_row_sub,
.africanView .SBhead,
.africanView .tg__home2_game_heading-top {
	background: #212121;
	color: #cccccc;
}

	/* - - - - Left Menu Level 3 - - - - */
	.tg__left_menu_item--lvl3,
	.tg__list_row_heading,
	.tg_bet_history_order_row_sub:nth-child(even) {
		background: #303030;
		color: #cccccc;
	}

/* - - - - Passive Tab - - - - */
.tab_selector,
.tab_cupon {
	background: #212121;
	color: #999999;
}

	/* - - - - Active Tab - - - - */
	.tab_selector.tab_selector_active,
	.tab_selector:hover,
	.tg__subhead .tg__dropdown_control,
	.tg__subhead .tg__input,
	.tg_subheader_btn,
	.tg__step_slider,
	.tg_live_center-wrapper .selectorWrapper,
	.tab_cupon:hover {
		background: #303030;
		color: #fff;
	}

.tg__live_filter_item.checked,
.tg__left_menu_item.tg__step_slider {
	background: #303030;
}

/* - - - - Header - - - - */
.gameContentTitle,
.tg__result_group_heading,
.tg__modal_header,
.africanView .tg--home2__stakeItem {
	background: #303030;
	color: #fff;
}

/* - - - - SubHeader - - - - */
.tg__prematch_header,
.live_sport_list .tg__left_menu_item--lvl3,
.tg__calendar_header,
.tg__calendar_cont,
.tg__res_rus,
.tg__multibet_heading,
.tg__score_box,
.overViewDataDanel .tg__btn_arrow,
.tg__cashout--header,
.live_menu_item_left_header,
.tg__match_header,
.tg__home_game_heading,
.posCombItemCont,
.tg__home2_game_heading {
	background: #292929;
	color: #999999;
}

.tg_bet_history_order_row {
	background: #292929;
}
/* - - - - Single Game - - - - */
.tg__one_game,
.tg__banner,
.news_slider .oddsContainer,
.prematch_event_odds_container,
.tg__multi_game,
.live_menu_item_left .tg--left_live_odds,
.tg__calendar_item,
.dg1,
.overviewEventBody,
.tg_popup_body_static,
.tg__modal,
.tg_bet_history_order_row:nth-child(even),
.matchListWrapper,
.multiViewHeaderCont,
.posCombGridItem,
.africanView .tg--home2__stakeTypes,
.tg__match_item_btn {
	background: #131313;
	color: #fff;
}

		.tg__one_game_col,
		.tg__home_game_time,
		.tg__one_game_icons,
		.tg__one_game .maIcons {
			color: #cccccc;
		}

/* - - - - Odd - - - - */
.l_od,
.l_od_empty {
	background: #000000;
	color: #fff;
}

/* - - - - Show More - - - - */
.tg__more {
	background: #262626;
	color: #fff;
}

/* - - - - Accordion Header - - - - */
.tg__block_header {
	background: #303030;
	color: #fff;
}

/* - - - - Accent - - - - */
.tg_sidebar_text_akcent,
.liveGameSelected .liveSportNamesContainer,
.left_menu_line_active .tg__left_menu_item_text,
.tg_widget_text_akcent,
.tg-ico-fav--active,
.tg-ico-fav.active,
.tg__coupon_square,
.tg-clr-akcent,
.tg-clr-akcent2,
.tg__score_box,
.tg__more:hover,
.tg__btn-coupon:hover,
.tg__btn-text:hover,
.tg__fix_btn:hover,
.tg__fix_btn.checked {
	color: #FDC964;
}

input:checked + .tg__switch_ico,
.tg_coin {
	background-color: #FDC964;
}

.tg_coin {
	color: #000;
}

.tg_popup_body_static .tab_selector_active {
	border-bottom: 2px solid #FDC964;
}

.live_calendar .tab_selector,
.tg__coupon_tabs_cont {
	border-bottom: 2px solid;
}

	.live_calendar .tab_selector:not(:last-child) {
		margin-right: 1px;
	}

.live_menu_item_left_header {
	border-bottom: 1px solid;
}

.live_calendar .tab_selector.tab_selector_active,
.live_menu_item_left_header {
	border-bottom-color: #FDC964;
}

/* - - - - Brand - - - - */
.l_od:hover,
.l_od.selectedOdd,
.tg__btn-ternary,
.tg__modal_confirm:hover,
.africanView .tg--home2__stakeItem:hover,
.africanView .stItem_active.tg--home2__stakeItem,
.africanView .active .tg--home2__stakeItem,
.sportRightPane .tg__btn-ternary,
.tg__btn-coupon.tg__login {
	background: #C79E4F;
	color: #000;
}

.tabSelectorHeading {
	color: #C79E4F;
}

/* - - - - BetSlip Bg - - - - */
.tg__coupon .tg--coupon-bg {
	background: #131313;
	color: #999999
}

.tab_cupon.tab_selected {
	background: #131313;
	color: #fff;
}

.tg__coupon_tabs_cont {
	border-bottom-color: #131313;
}

/* - - - - BetSlip Line - - - - */
.stake_item_panel {
	background: #212121;
	color: #999999;
	border-color: #131313;
}

/* - - - - BetSlip Input - - - - */
.tg_input.tg_input_coupon_amount {
	background: #000000;
	color: #fff;
}

.tg__coupon_square {
	background: #000000;
}

/* - - - - BetSlip Button - - - - */
.tg__btn-coupon,
.tg__btn-text {
	background: #303030;
	color: #999999;
}

.tg--cashout-body, .tg__cashout_popup, .booking_number {
	background-color: #131313;
	color: #999999;
}

/* - - - - DropDown - - - - */
.tg__input,
.tg_input,
.tg__dropdown_control,
.tg_input + .ui-datepicker-trigger {
	background: #000000;
	color: #fff;
}

.ss__step_slider .ss__ruller > div.off {
	color: #000000;
}

.tg__dropdown__item {
	background: #000000;
	color: #cccccc
}

	.tg__dropdown__item:hover,
	.tg__dropdown__item-active {
		color: #fff;
	}

.tg__dropdown_content {
	background: #000000;
}

/* - - - - Sections - - - - */
.tg--coupon-bg,
.tg__info_panel,
.tg__results_header,
.tg__cashout--wrapper,
.bet_generator_wrapper .tg_widget_bg_2 {
	background: #131313;
	color: #fff;
}

/* Styles we don't usually change */
.tg__badge_live {
	background-color: #000000;
	color: #fff;
}

.tab_selector_active .tg__badge_live {
	background-color: #CB0000;
	color: #fff;
}

.tg__coupon_factor {
	background-color: #666;
	color: #fff;
}

.tg__switch_ico {
	background-color: #999;
}

.tg__open_event_img {
	color: #fff;
}

.tg__switch .tg__switch_ico:before {
	background-color: #fff;
}

.tab_cupon {
	text-transform: uppercase;
}

/* - + - - - - + - > AFRICAN VIEW < - + - - - - + - */
.africanView .tabSelectorHeading {
	color: #fff;
}

.africanView .tg_left_filter_tabs.tg_left_filter_tabs_active {
	color: #fff;
}

.tg_bet_history_order_row .tg_table_icons_wrpper,
.tg_bet_history_order_row .tg_table_ico,
.tg_widget_header.tg_bet_history_order_row {
	color: #999;
}

.tg__sticky_market_header.tg__home2_game_heading {
	z-index: 999;
	border-bottom: 1px solid currentColor;
}