:root,
:root[data-theme="dark"],
:root [data-theme="dark"] {
--bodyBg:#161415;
--bodyBg2:#312c2e;
--bodyBg3:#3e383b;
--bodyBgHover:#1e1b1d;
--bodyBg2Hover:#393336;
--bodyBg3Hover:#463f43;
--bodyTxt:rgba(255, 255, 255, 0.9);
--bodyTxt2:rgba(255, 255, 255, 0.6);
--bodyTxt3:rgba(255, 255, 255, 0.4);
--bodyAccent:#f14100;
--bodyAccentTxt:#fff;
--bodyBorder:#1e1b1d;
--bodyG:#161415;
--bodyRGBA:rgba(22, 20, 21, 0.7);
--bodyRGBA2:rgba(22, 20, 21, 0.5);
--bodyRGBA3:rgba(22, 20, 21, 0.3);
--dominantBg:#474747;
--dominantBg2:#606060;
--dominantBg3:#6d6d6d;
--dominantBgHover:#4f4f4f;
--dominantBg2Hover:#686868;
--dominantBg3Hover:#757575;
--dominantTxt:rgba(255, 255, 255, 0.9);
--dominantTxt2:rgba(255, 255, 255, 0.6);
--dominantTxt3:rgba(255, 255, 255, 0.4);
--dominantTxtInverse:#262626;
--dominantAccent:#ffb700;
--dominantAccentTxt:#000;
--dominantBorder:#4f4f4f;
--dominantG:#474747;
--dominantRGBA:rgba(71, 71, 71, 0.7);
--dominantRGBA2:rgba(71, 71, 71, 0.5);
--dominantRGBA3:rgba(71, 71, 71, 0.3);
--accentBg:#ffb700;
--accentBg2:#cc9200;
--accentBg3:#b38000;
--accentBgHover:#f0ac00;
--accentBg2Hover:#bd8700;
--accentBg3Hover:#a47500;
--accentTxt:rgba(0, 0, 0, 0.9);
--accentTxt2:rgba(0, 0, 0, 0.8);
--accentTxt3:rgba(0, 0, 0, 0.6);
--accentBorder:#f0ac00;
--accentG:#ffb700;
--inputBg:#2b2b2b;
--inputBg2:#444444;
--inputBg3:#515151;
--inputBgHover:#333333;
--inputBg2Hover:#4c4c4c;
--inputBg3Hover:#595959;
--inputTxt:rgba(255, 255, 255, 0.9);
--inputTxt2:rgba(255, 255, 255, 0.6);
--inputTxt3:rgba(255, 255, 255, 0.4);
--inputAccent:#ffbe1a;
--inputAccentTxt:#000;
--inputBorder:#333333;
--inputG:#2b2b2b;
--inputSecondaryBg:#404040;
--inputSecondaryBg2:#595959;
--inputSecondaryBg3:#666666;
--inputSecondaryBgHover:#484848;
--inputSecondaryBg2Hover:#616161;
--inputSecondaryBg3Hover:#6e6e6e;
--inputSecondaryTxt:rgba(255, 255, 255, 0.9);
--inputSecondaryTxt2:rgba(255, 255, 255, 0.6);
--inputSecondaryTxt3:rgba(255, 255, 255, 0.4);
--inputSecondaryAccent:#ffbe1a;
--inputSecondaryAccentTxt:#000;
--inputSecondaryG:#404040;
--headerBg:#333333;
--headerBg2:#4d4d4d;
--headerBg3:#595959;
--headerBgHover:#3b3b3b;
--headerBg2Hover:#555555;
--headerBg3Hover:#616161;
--headerTxt:rgba(255, 255, 255, 0.9);
--headerTxt2:rgba(255, 255, 255, 0.6);
--headerTxt3:rgba(255, 255, 255, 0.4);
--headerAccent:#ffbe1a;
--headerAccentTxt:#000;
--headerBorder:#3b3b3b;
--headerG:#333333;
--subHeaderBg:#2b2b2b;
--subHeaderBg2:#444444;
--subHeaderBg3:#515151;
--subHeaderBgHover:#333333;
--subHeaderBg2Hover:#4c4c4c;
--subHeaderBg3Hover:#595959;
--subHeaderTxt:rgba(255, 255, 255, 0.9);
--subHeaderTxt2:rgba(255, 255, 255, 0.6);
--subHeaderTxt3:rgba(255, 255, 255, 0.4);
--subHeaderAccent:#ffbe1a;
--subHeaderAccentTxt:#000;
--subHeaderBorder:#333333;
--subHeaderG:#2b2b2b;
--eventBg:#333333;
--eventBg2:#4d4d4d;
--eventBg3:#595959;
--eventBgHover:#3b3b3b;
--eventBg2Hover:#555555;
--eventBg3Hover:#616161;
--eventTxt:rgba(255, 255, 255, 0.9);
--eventTxt2:rgba(255, 255, 255, 0.6);
--eventTxt3:rgba(255, 255, 255, 0.4);
--eventAccent:#ffb700;
--eventAccentTxt:#000;
--eventBorder:#3b3b3b;
--eventG:#333333;
--buttonBg:#197b30;
--buttonBg2:#22a541;
--buttonBg3:#26bb49;
--buttonBgHover:#1c8835;
--buttonBg2Hover:#25b246;
--buttonBg3Hover:#29c84e;
--buttonTxt:rgba(255, 255, 255, 0.9);
--buttonTxt2:rgba(255, 255, 255, 0.6);
--buttonTxt3:rgba(255, 255, 255, 0.4);
--buttonAccent:#cc9200;
--buttonAccentTxt:rgba(0, 0, 0, 0.9);
--buttonBorder:#1c8835;
--buttonG:#197b30;
--buttonSecondaryBg:#404040;
--buttonSecondaryBg2:#595959;
--buttonSecondaryBg3:#666666;
--buttonSecondaryBgHover:#484848;
--buttonSecondaryBg2Hover:#616161;
--buttonSecondaryBg3Hover:#6e6e6e;
--buttonSecondaryTxt:rgba(255, 255, 255, 0.9);
--buttonSecondaryTxt2:rgba(255, 255, 255, 0.6);
--buttonSecondaryTxt3:rgba(255, 255, 255, 0.4);
--buttonSecondaryAccent:#cc9200;
--buttonSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--buttonSecondaryBorder:#484848;
--buttonSecondaryG:#404040;
--popupBg:#ccc8c8;
--popupBg2:#b3aeae;
--popupBg3:#a7a0a0;
--popupBgHover:#c5c0c0;
--popupBg2Hover:#aca6a6;
--popupBg3Hover:#a09898;
--popupTxt:rgba(0, 0, 0, 0.9);
--popupTxt2:rgba(0, 0, 0, 0.8);
--popupTxt3:rgba(0, 0, 0, 0.6);
--popupAccent:#ffb700;
--popupAccentTxt:rgba(0, 0, 0, 0.9);
--popupBorder:#c5c0c0;
--popupG:#ccc8c8;
--oddBg:#212121;
--oddBg2:#3a3a3a;
--oddBg3:#474747;
--oddBgHover:#292929;
--oddBg2Hover:#424242;
--oddBg3Hover:#4f4f4f;
--oddTxt:rgba(255, 255, 255, 0.9);
--oddTxt2:rgba(255, 255, 255, 0.6);
--oddTxt3:rgba(255, 255, 255, 0.4);
--oddAccent:#ffb700;
--oddAccentTxt:rgba(0, 0, 0, 0.9);
--oddBorder:#212121;
--oddG:#212121;
--oddActiveBg:#f14100;
--oddActiveBg2:#ff6025;
--oddActiveBg3:#ff723e;
--oddActiveBgHover:#ff4601;
--oddActiveBg2Hover:#ff6b34;
--oddActiveBg3Hover:#ff7d4d;
--oddActiveTxt:rgba(255, 255, 255, 0.9);
--oddActiveTxt2:rgba(255, 255, 255, 0.6);
--oddActiveTxt3:rgba(255, 255, 255, 0.4);
--oddActiveBorder:#f14100;
--oddActiveG:#f14100;
--showMoreBg:#2b2b2b;
--showMoreBg2:#444444;
--showMoreBg3:#515151;
--showMoreBgHover:#333333;
--showMoreBg2Hover:#4c4c4c;
--showMoreBg3Hover:#595959;
--showMoreTxt:rgba(255, 255, 255, 0.9);
--showMoreTxt2:rgba(255, 255, 255, 0.6);
--showMoreTxt3:rgba(255, 255, 255, 0.4);
--showMoreAccent:#ffb700;
--showMoreAccentTxt:rgba(0, 0, 0, 0.9);
--showMoreBorder:#2b2b2b;
--showMoreG:#2b2b2b;
--tabBg:#212121;
--tabBg2:#3a3a3a;
--tabBg3:#474747;
--tabBgHover:#292929;
--tabBg2Hover:#424242;
--tabBg3Hover:#4f4f4f;
--tabTxt:rgba(255, 255, 255, 0.9);
--tabTxt2:rgba(255, 255, 255, 0.6);
--tabTxt3:rgba(255, 255, 255, 0.4);
--tabAccent:#ffb700;
--tabAccentTxt:rgba(0, 0, 0, 0.9);
--tabBorder:#292929;
--tabG:#212121;
--tabActiveBg:#333333;
--tabActiveBg2:#4d4d4d;
--tabActiveBg3:#595959;
--tabActiveBgHover:#3b3b3b;
--tabActiveBg2Hover:#555555;
--tabActiveBg3Hover:#616161;
--tabActiveTxt:rgba(255, 255, 255, 0.9);
--tabActiveTxt2:rgba(255, 255, 255, 0.6);
--tabActiveTxt3:rgba(255, 255, 255, 0.4);
--tabActiveAccent:#ffb700;
--tabActiveAccentTxt:rgba(0, 0, 0, 0.9);
--tabActiveBorder:#3b3b3b;
--tabActiveG:#333333;
--tabSecondaryActiveBg:#2e2e2e;
--tabSecondaryActiveBg2:#474747;
--tabSecondaryActiveBg3:#545454;
--tabSecondaryActiveBgHover:#363636;
--tabSecondaryActiveBg2Hover:#4f4f4f;
--tabSecondaryActiveBg3Hover:#5c5c5c;
--tabSecondaryActiveTxt:rgba(255, 255, 255, 0.9);
--tabSecondaryActiveTxt2:rgba(255, 255, 255, 0.6);
--tabSecondaryActiveTxt3:rgba(255, 255, 255, 0.4);
--tabSecondaryAccent:#ffb700;
--tabSecondaryAccentTxt:rgba(0, 0, 0, 0.9);
--tabSecondaryActiveG:#2e2e2e;
--filterBg:#404040;
--filterBg2:#595959;
--filterBg3:#666666;
--filterBgHover:#484848;
--filterBg2Hover:#616161;
--filterBg3Hover:#6e6e6e;
--filterTxt:rgba(255, 255, 255, 0.9);
--filterTxt2:rgba(255, 255, 255, 0.6);
--filterTxt3:rgba(255, 255, 255, 0.4);
--filterAccent:#ffb700;
--filterAccentTxt:rgba(0, 0, 0, 0.9);
--filterBorder:#484848;
--filterG:#404040;
--menu_1Bg:#2b2b2b;
--menu_1Bg2:#444444;
--menu_1Bg3:#515151;
--menu_1BgHover:#333333;
--menu_1Bg2Hover:#4c4c4c;
--menu_1Bg3Hover:#595959;
--menu_1Txt:rgba(255, 255, 255, 0.9);
--menu_1Txt2:rgba(255, 255, 255, 0.6);
--menu_1Txt3:rgba(255, 255, 255, 0.4);
--menu_1Accent:#ffb700;
--menu_1AccentTxt:rgba(0, 0, 0, 0.9);
--menu_1Border:#333333;
--menu_1G:#2b2b2b;
--menu_2Bg:#2b2b2b;
--menu_2Bg2:#444444;
--menu_2Bg3:#515151;
--menu_2BgHover:#333333;
--menu_2Bg2Hover:#4c4c4c;
--menu_2Bg3Hover:#595959;
--menu_2Txt:rgba(255, 255, 255, 0.9);
--menu_2Txt2:rgba(255, 255, 255, 0.6);
--menu_2Txt3:rgba(255, 255, 255, 0.4);
--menu_2Accent:#ffb700;
--menu_2AccentTxt:rgba(0, 0, 0, 0.9);
--menu_2Border:#333333;
--menu_2G:#2b2b2b;
--menu_3Bg:#2b2b2b;
--menu_3Bg2:#444444;
--menu_3Bg3:#515151;
--menu_3BgHover:#333333;
--menu_3Bg2Hover:#4c4c4c;
--menu_3Bg3Hover:#595959;
--menu_3Txt:rgba(255, 255, 255, 0.9);
--menu_3Txt2:rgba(255, 255, 255, 0.6);
--menu_3Txt3:rgba(255, 255, 255, 0.4);
--menu_3Accent:#ffb700;
--menu_3AccentTxt:rgba(0, 0, 0, 0.9);
--menu_3Border:#333333;
--menu_3G:#2b2b2b;
--tooltipBg:#e6e6e6;
--tooltipBg2:#cccccc;
--tooltipBg3:#c0c0c0;
--tooltipBgHover:#dedede;
--tooltipBg2Hover:#c4c4c4;
--tooltipBg3Hover:#b8b8b8;
--tooltipTxt:rgba(0, 0, 0, 0.9);
--tooltipTxt2:rgba(0, 0, 0, 0.8);
--tooltipTxt3:rgba(0, 0, 0, 0.6);
--tooltipAccent:#ffb700;
--tooltipAccentTxt:rgba(0, 0, 0, 0.9);
--tooltipBorder:#dedede;
--tooltipG:#e6e6e6;
}